#body{
    display: flex;
    background-color: gainsboro;
    justify-content: center;
}
#Sidebar{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 25px;
    width: 250px;
    border: 1vw solid black;
    height: 80vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    color: red;
}
#Sketch{
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: cadetblue;
    height: 80vh;
    width: 80vh;
    border: 1vw solid;
    border-radius: 5px;
}
#deletebtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#topbtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#difficulty{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#pixel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#subcanvas{
    display: grid;
}
